* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
.page1 {
  width: 100%;
  height: 100%;
  position: relative;
}
nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw 6vw;
  border-bottom: 2px solid #666;
}
nav h1 {
  font-size: 2vw;
}
nav span {
  color: rgb(72, 194, 255);
  line-height: 4.2vw;
  font-size: 5.8vw;
  font-family: cursive;
}

nav img {
  height: 6.4vw;
  width: 17vw;
}
nav button {
  cursor: pointer;
  background-color: #1e0612;
  border: none;
  border-radius: 20px;

  padding: 0.5vw 0.8vw;
  font-size: 1vw;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 3vw;
  align-items: center;
}
.menu h4 {
  font-size: 1vw;
}

.content {
  display: flex;
  height: calc(100% - 100px);
  width: 100%;
  position: relative;
}
.right {
  width: 45%;
  height: 100%;
}
.right video {
  width: 100%;

  height: 100%;
}

.left {
  width: 55%;
  height: 100%;
  padding: 5vw 6vw;
}
.left h1 {
  line-height: 4.2vw;
  font-size: 3.8vw;
}
.left span {
  color: rgb(72, 194, 255);
}
.left p {
  margin-top: 1vw;
  margin-bottom: 3vw;
  color: #666;
  font-size: 1.2vw;
  font-weight: 200;
}
.left button {
  cursor: pointer;
  background-color: rgb(72, 194, 255);
  border: none;
  border-radius: 20px;

  padding: 1vw 2vw;
  font-size: 1.2vw;
  color: white;
  font-weight: 700;
}


@media (max-width: 600px) {
  nav {
    padding: 0 6vw;
    height: 60px;
  }
  nav h1 {
    font-size: 6vw;
  }
  nav h4 {
    display: none;
    font-size: 4vw;
  }
  nav button {
    display: none;
  }
  nav i {
    color: black;

    display: block;
    font-size: 4.5vw;
  }
  .content {
    height: calc(100%-60px);
    flex-direction: column;
    position: relative;
  }
  .left {
    width: 100%;
    height: 55%;
    padding: 4vw 6vw;
  }
  .left h1 {
    line-height: 11vw;
    font-size: 10vw;
  }
  .left p {
    margin-bottom: 7vw;
    margin-top: 6vw;

    width: 100%;
    font-size: 4vw;
  }
  .content button {
    border-radius: 3px;

    padding: 3vw 6vw;
    font-size: 3.5vw;

    font-weight: 700;
  }

  .right {
    width: 100%;
    height: 55%;
  }
}

@media (max-width: 425px) {
  .right {
    z-index: -1;
  }
}
@media (min-width: 295px) {
  .right {
    z-index: -1;
  }
}





.page2 {
  width: 100%;
  height: 100%;
  position: relative;
  
}
.body{
  display: flex;
  
  width: 100%;
  height: 100%;
  position: relative;
}
.le {
  height: 90%;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  
  
  /* background-color: #666; */
}
.le span{
  font-size: 5vw;
  color: rgb(113, 25, 113);
}
#s2{
  font-size: 2.8vw;
  color: black;
  line-height: 2vw;
}
.le h1{
  padding-bottom: 10vw;
  line-height: 5vw;
  font-size: 3.5vw;
  
}
.le video{
  height: 100%;
  width: 100%;
  
  
  /* background-color: #666; */
}
.ri {
  justify-content: center;
  align-items: center;
  
  height: 90%;
  
  width: 50%;
 
}
.ri span{
  font-size: 4vw;
  color: rgb(245, 169, 37);
 
}
.ri h1{
  font-size: 2.5vw;
  padding-left: 10vw;
 
}
.ri video{
  height: 100%;
  
  width: 100%;
  
}

@media (max-width: 600px) {
  .body{
    display:table-header-group;
  }
  .ri {
    justify-content: center;
    align-items: center;
    display: flex;
    
    height: 90%;
    line-height: 5vw;
    width: 50%;
   
  }
  .le video{
    height: 100%;
    width: 100%;
    
    
   
  }
  .le {
    width: 80%;
  }
  .ri {
    width: 80%;
  }
  
}
